@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui" {
    themes: light --default;
    --color-primary: #f05537;
    --color-secondary: #03373D;
}

/* body{
    background: rgb(200, 126, 29);
} */